services:
  - type: web
    name: magic-english-api
    runtime: docker
    plan: free
    dockerfilePath: ./Dockerfile
    dockerCommand: java -jar -Dspring.profiles.active=render app.jar
    healthCheckPath: /api/v1/health
    envVars:
      - key: PORT
        value: 8080
      - key: MYSQL_HOST
        sync: false
      - key: MYSQL_PORT
        value: 3306
      - key: MYSQL_DATABASE
        sync: false
      - key: MYSQL_USER
        sync: false
      - key: MYSQL_PASSWORD
        sync: false
      - key: GEMINI_API_KEY
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: VOICERSS_API_KEY
        sync: false
      - key: CLOUDINARY_CLOUD_NAME
        sync: false
      - key: CLOUDINARY_API_KEY
        sync: false
      - key: CLOUDINARY_API_SECRET
        sync: false
